<h1 class="page-header">Newspaper Beats</h1>

<div ng-controller="newspaperBeatsCtrl">
  <h3>Beats List</h3>

  <div>
    <form class="form-inline col-xs-6" role="form">
      <input type="text" ng-model='query' class="form-control" id='beats-name' placeholder="Search Beats">
    </form>

    <form class="form-inline col-xs-6" ng-submit="BeatsFactory.addNewBeat()" role="form">
      <input type="text" class="form-control" placeholder='Add a New Beat' ng-model="BeatsFactory.beatName">
      <button class="btn btn-default">Add Beat</button>
    </form>
  </div>
  <br>
  <div>
    <ul class="list-unstyled">
      <li ng-repeat="beat in filtered = (beats | filter: query)">{{ beat.name }}</li>
    </ul>
  </div>
</div>
<hr>
<div ng-controller="reportersCtrl">
  <h3>Reporter List</h3>

  <div>
    <form class="form-inline col-xs-4" role="form">
      <input type="text" ng-model='query' class="form-control" id='reporters-name' placeholder="Search Reporters">
    </form>

    <form class="form-inline col-xs-8" ng-submit="ReportersFactory.addNewReporter()" role="form">
      <input type="text" class="form-control" placeholder='Add a New Reporter' ng-model="ReportersFactory.reporterName">
      <input type="text" class="form-control" placeholder="Years of Employment" ng-model="ReportersFactory.reporterYears">
      <input type="text" class="form-control" placeholder="Reporters Birth Date" ng-model="ReportersFactory.reporterBirthDate">
      <button class="btn btn-default">Add Reporter</button>
    </form>

    <ul class="list-unstyled">
      <li ng-repeat="reporter in filtered = (reporters | filter: query)">{{ reporter.name }}</li>
    </ul>
  </div>
</div>
