<h1 class="page-header">Newspaper Beats</h1>
<ul class="nav nav-tabs">
  <li role="presentation"><a ui-sref="home">Home</a></li>
  <li role="presentation"><a ui-sref="beats">Beats</a></li>
  <li role="presentation" class="active"><a ui-sref="reporters">Reporters</a></li>
</ul>
<br>
<br>
<div class="col-xs-5">
  <form role="form">
    <input type="text" ng-model='query' class="form-control" id='reporters-name' placeholder="Search Reporters">
  </form>

  <h3>Reporters List</h3>
  <div ng-repeat="reporter in filtered = (reporters | filter: query)">
    <p class="lead reporters">{{ reporter.name }} <button class="btn btn-default btn-xs" ng-click="showDetails = ! showDetails">Show Details</button></p>
      <div class="reporter-details" ng-show="showDetails">
        <p><strong>Number of years with the newspaper:</strong>  <em>{{ reporter.employmentYears }}</em></p>
        <p><strong>Date of Birth:</strong>  <em>{{ reporter.dateOfBirth | date}}</em></p>
     </div>
  </div>
</div>

<div class="col-xs-6 pull-right jumbotron">
  <h3>Add a New Reporter</h3>
  <form ng-submit="ReportersFactory.addNewReporter()" role="form">
    <input type="text" class="form-control" placeholder='Add a New Reporter' ng-model="ReportersFactory.reporterName" required>
    <input type="number" class="form-control" placeholder="Years of Employment" ng-model="ReportersFactory.reporterYears" required>
    <input type="date" class="form-control" placeholder="Reporters Birth Date" ng-model="ReportersFactory.reporterBirthDate" required>
    <button class="btn btn-default">Add Reporter</button>
  </form>
</div>